<section class="page-section text mb-0 pb-0" id="about" mdbScrollspyElement="scrollspy">
  <div class="container">
    <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">
      about me</h2>
    <div class="row justify-content-center space">
      <div class="col-lg-8">
        <p class="lead">
          Hi, my name is Quintiens Robby.
        </p>
        <p class="lead">
          Before even graduating I started as a consultant full-stack developer for JArchitects.
          At the moment I'm working at Ravago. It's one of the biggest companies in Belgium (and over the world).
          So it's a really good place to learn and create an expertise in both front end and back end development.
        </p>
        <p class="lead">
          I'm passionated about new technologies and design. My next goal is to learn more about UI and UX.
        </p>
      </div>
    </div>
  </div>
</section>
