<section class="page-section text mb-0 pb-0" id="reflectie" mdbScrollspyElement="scrollspy">
  <div class="container">
    <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">
      Reflectie</h2>
    <div class="row justify-content-center space">
      <div class="col-lg-8">
        <p class="lead whitespace">
          Het iTalent project was voor mij een uitstekende kans om aan te kunnen tonen waar ik zoal mee bezig ben
          geweest in mijn vrije tijd tijdens het afgelopen schooljaar. Mijn ambitie is vooral om te kunnen groeien als
          een fullstack-ontwikkelaar met de nodige notie en kennis van het DevOps gebeuren.
          <br><br>
          Door dit project heb ik verschillende technologieën en concepten, van zowel backend als frontend, kunnen
          combineren. Eén van de belangrijkste zaken die ik hierin heb kunnen bijleren is het belang van kwalitatieve
          code te kunnen schrijven, die makkelijk leesbaar, onderhoudbaar en secuur is. Het belang van de leesbaarheid
          heb ik vooral opgemerkt doordat er niet elke avond de tijd was om hieraan verder te werken en het dus soms
          enkele dagen tot een week kon duren vooraleer ik deze code terug zou aanraken. Het onderhouden van de code is
          belangrijk omdat ik op bepaalde momenten de mogelijkheid wou hebben om bepaalde nieuwe features te kunnen
          implementeren in het project. Het belang van secure code is dan weer belangrijk om een juiste workflow te
          kunnen opzetten, waarin het mogelijk is om met meerdere personen aan een project te kunnen werken en de
          risico’s op eventuele bugs te kunnen minimaliseren.
          <br><br>
          In mijn huidige job kom ik ook in aanmerking met het meeste van deze technieken, dus was het voor mij zeker
          interessant om hierop al een stukje voorbereid te zijn.
          <br><br>
          Mijn volgende stappen richting de toekomst is om meer kennis te kunnen opdoen in verband met UI en UX om zo
          als ontwikkelaar verder te kunnen bijleren en groeien.
          <br><br>
          Tijdens het ontwerpen en creëren van deze projecten heb ik gemerkt dat mijn sterktes liggen in het volharden
          en volhouden. Wanneer er bepaalde moeilijke hindernissen kwamen opduiken tijdens het creëren van mijn op
          voorhand vastgelegde ideeën, heb ik de nodige kennis opgedaan om dit te kunnen waarmaken.
          <br><br>
          In het volharden en volhouden ligt dan ook weer een van mijn zwaktes, ik kan het heel moeilijk vinden om
          bepaalde obstakels (tijdelijk) links te laten liggen, waardoor ik veel tijd kan verliezen doordat ik hierin te
          perfectionistisch ben aangelegd.
          <br><br>
          Zelf vind ik het ook heel moeilijk om bepaalde zaken te kunnen neerschrijven, zeker wanneer het gaat over het
          zelfreflecterend zijn. Dit komt doordat ik het vaak voor mijn eigen belangrijker vind om de praktische zaken
          in orde te kunnen brengen en hierdoor het belang van een samenvattende reflectie uit het oog kan verliezen.
          <br><br>
          In het algemeen ben ik tevreden over de projecten die ik heb kunnen realiseren, ook al hadden ze in mijn ogen
          nog verder uitgewerkt kunnen zijn.
        </p>
      </div>
    </div>
  </div>
</section>
