<header class="masthead text-white text-center">
  <div class="container d-flex align-items-center flex-column">
    <img class="masthead-avatar mb-2 rounded-circle" src="assets/img/meandjuul.jpeg" alt="" />
    <h1 class="masthead-heading text-black-50 text-uppercase mb-0">Robby Quintiens</h1>
    <p class="masthead-subheading text-black-50 font-weight-light mb-0">Consultant full stack developer</p>
    <p class="masthead-subheading text-black-50 font-weight-light mb-0">iTalent</p>
    <p class="opacity text-black-50">[àjtellent]</p>
  </div>
</header>
