<section class="page-section text mb-0 pb-0" id="x-factor" mdbScrollspyElement="scrollspy">
  <div class="container">
    <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">
      x-factor</h2>
    <div class="row justify-content-center space">
      <div class="col-lg-8">
        <p class="lead whitespace">
          <span class="fw-bold">Passie:</span> Als Switch2IT’er is passie de voornaamste reden om het volledige traject in een positieve lijn te
          kunnen doortrekken. Het weten waarom en het volharden hierin waren voor mij de belangrijkste factoren om het
          volledige leertraject tot een positief einde te kunnen brengen.
          <br><br>
          <span class="fw-bold">Innovatief:</span> Innovativiteit en de interesse hierin is voor deze richting zeer belangrijk, aangezien de huidige
          technologieën niet stil staan. Daarom is het belangrijk om als goede ontwikkelaar deze ook te kunnen opvolgen.
          <br><br>
          <span class="fw-bold">Disciplinariteit:</span> Discipline, volharding en interesse zijn voor mij de voornaamste redenen om het volledige
          leertraject tot een positief einde te kunnen brengen. Discipline speelt hierin de rol om te leren om
          prioriteiten te kunnen stellen en een bepaald doel voor ogen te hebben.
          <br><br>
          <span class="fw-bold">Netwerking:</span> IT is een wereld vol teamwork, daarom is het ook belangrijk om samen te leren werken met je
          collega’s. PXL heeft ons hierin goed kunnen klaarstomen en begeleiden doormiddel van de projecten die we als
          teamverband hebben kunnen realiseren. Netwerken is het leren en kunnen samenwerken met personen die dezelfde
          visie en einddoel als jou voor ogen hebben. Dit is zeker iets wat in mijn verder leven van toepassing zullen
          komen, zowel op persoonlijk vlak als op professioneel vlak.
        </p>
      </div>
    </div>
  </div>
</section>
